.bank-wrapper {
    position: relative;
    display: inline-block;
    width: 126px;
    margin: 2px 0;
    /*border: transparent 2px solid;*/
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.4);
    cursor: pointer;
    /*float: left;*/
}
.bank-wrapper__selected-icon {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
}
.bank-wrapper:hover {
    box-shadow: 0 1px 2px 1px hsla(0,0%,100%,.25);
}
.bank-wrapper.selected {
    box-shadow: 0 1px 2px 1px rgba(0,255,240,.25);
}

.bank-wrapper:hover .bank-wrapper__selected-icon {
    display: block;
    fill: #00fff0;
}
.bank-wrapper.selected .bank-wrapper__selected-icon {
    display: block;
    fill: #0c0;
}

/*.bank-wrapper {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 10px;*/
    /*border-radius: 3px;*/
    /*width: 126px;*/
    /*!*height: 60px;*!*/
    /*cursor: pointer;*/
    /*box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);*/
/*}*/
.bank-wrapper:not(:first-child) {
    margin-left: 7px;
}

.bank-wrapper:after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
.bank-wrapper:hover:after {
    box-shadow: inset 0 0 0 2px #00fff0;
}
.bank-wrapper.selected:after {
    box-shadow: inset 0 0 0 2px #0c0;
}

.bank-wrapper .icon-tick {
    display: none;
}

.bank-wrapper.selected {
    /*border-color: rgba(0, 126, 217, .6);*/
    border-color: #0c0;
}

.bank-wrapper.selected .icon-tick {
    display: inline-block;
    width: 9px;
    height: 8px;
    fill: #0c0;
    position: absolute;
    right: 5px;
    bottom: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

