.produce-component {
    float: left;
  }
  .produce-component img {
    width: 100%;
  }
  .produce-component h2 {
    text-align: center;
  }
  .produce-component:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 960px) and (min-width: 456px) {
    .produce-component {
      margin: 10px;
      width: 200px;
    }
    .produce-component h2 {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 960px) {
    .produce-component {
      margin: 0 20px;
      width: 200px;
    }
    .produce-component h2 {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 456px) {
    .produce-component {
      width: 47%;
      margin: 0 1.25% 2.5% 1.25%;
    }
    .produce-component h2 {
      font-size: 13px;
      line-height: 17px;
    }
  }
  