.members-component .members-father .wallet-transaction__details:first-child:before{
    left: 6px;
    top: 18px;
    position: absolute;
    margin-right: 8px;
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 0px 6px 6px;
    border-style: solid;
    border-color: transparent grey;
    transition: all .8s;
}
.members-component .no-children:before{
    opacity: 0;
}
.members-component .children-open .wallet-transaction__details:first-child:before{
    transform: rotate(90deg);
}
.members-component .members-list.hidden{
    display: none
}
.members-component .clearfix{
    zoom: 1;
}
.members-component .clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.members-component .zp-hidden{
    display: none;
}

.members-component .animated{
    transition: all 2s ease-in;
}
.members-component .zp-fadeInUp{
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.members-component .zp-fadeInDown{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.members-component .members-prop{
    float: left;
}
.members-component .members-dateTime{
    width: 40%;
}
.members-component .members-username{
    width: 40%;
}
.members-component .members-locked{
    width: 20%;
}
.members-component .details__wrapper{
    max-height: 0;
    overflow: hidden;
    transition:  .25s;
}
.members-component .zp-show{
    max-height: 9999px;
}