@charset "UTF-8";
.filter-checkbox, .is-selected > .filter__item--check:after {
    font-family: gog-icons;
    speak: none;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: rotate(-.001deg);
    display: inline-block
}

.filter-checkbox:after, .is-selected > .filter__item--check:after {
    content: '';
    display: inline-block;
    height: 1em
}

.filter-checkbox:before, .is-selected > .filter__item--check:after {
    content: "\e60c"
}

.filter.is-selected > .ic:before {
    content: "\e010"
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.account__list-spinner:not(.is-hidden) .account__list-spinner-in,
.friend-dropdown.is-expanded .friend-dropdown__spinner-item.is-spinning-when-expanded:after,
.friend-dropdown.is-expanded.is-data-pending .friend-dropdown__spinner-item:after {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: spin;
    animation-name: spin
}

.settings-item__button.is-spinning:after {
    width: .1em;
    height: .1em;
    box-shadow: .475em 0 0 #000, .4725em -.0495em 0 rgba(0, 0, 0, .966667), .4645em -.099em 0 rgba(0, 0, 0, .933333), .452em -.147em 0 rgba(0, 0, 0, .9), .434em -.193em 0 rgba(0, 0, 0, .866667), .4115em -.2375em 0 rgba(0, 0, 0, .833333), .3845em -.279em 0 rgba(0, 0, 0, .8), .353em -.318em 0 rgba(0, 0, 0, .766667), .318em -.353em 0 rgba(0, 0, 0, .733333), .279em -.3845em 0 rgba(0, 0, 0, .7), .2375em -.4115em 0 rgba(0, 0, 0, .666667), .193em -.434em 0 rgba(0, 0, 0, .633333), .147em -.452em 0 rgba(0, 0, 0, .6), .099em -.4645em 0 rgba(0, 0, 0, .566667), .0495em -.4725em 0 rgba(0, 0, 0, .533333), 0 -.475em 0 rgba(0, 0, 0, .5), -.0495em -.4725em 0 rgba(0, 0, 0, .466667), -.099em -.4645em 0 rgba(0, 0, 0, .433333), -.147em -.452em 0 rgba(0, 0, 0, .4), -.193em -.434em 0 rgba(0, 0, 0, .366667), -.2375em -.4115em 0 rgba(0, 0, 0, .333333), -.279em -.3845em 0 rgba(0, 0, 0, .3), -.318em -.353em 0 rgba(0, 0, 0, .266667), -.353em -.318em 0 rgba(0, 0, 0, .233333), -.3845em -.279em 0 rgba(0, 0, 0, .2), -.4115em -.2375em 0 rgba(0, 0, 0, .166667), -.434em -.193em 0 rgba(0, 0, 0, .133333), -.452em -.147em 0 rgba(0, 0, 0, .1), -.4645em -.099em 0 rgba(0, 0, 0, .0666667), -.4725em -.0495em 0 rgba(0, 0, 0, .0333333), -.475em 0 0 transparent
}

.account__list-spinner.is-hidden,
.list--grid .product-btn--placeholder,
.list--grid .product-row .product-row__date,
.list--grid .product-row .product-row__genre,
.list--grid .product-row .product-row__rating
/*.list--grid.account__products--games .product-row__os,*/
/*.list--grid.account__products--movies .product-row__media */
{
    display: none
}

.filter-checkbox, .filter-radio {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 13px;
    height: 13px;
    border: 1px solid #b8b8b8;
    font-size: 8px;
    text-align: center;
    background: #ededed;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1)
}

.list--grid .product-row, .list--rows {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15)
}

.filter-checkbox:before, .filter-radio:before {
    visibility: hidden
}

.filter__item:not(.is-selected).is-selected--mixed > .filter-checkbox:before, .is-selected > .filter-checkbox:before, .is-selected > .filter-radio:before {
    visibility: inherit
}

.filter-checkbox:after, .filter-radio:after {
    height: 10px;
    margin-right: -1px
}

.filter__item:not(.is-selected).is-selected--mixed > .filter-checkbox:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    width: auto;
    height: auto;
    background: grey
}

.filter-radio {
    border-radius: 7px;
    vertical-align: middle
}

.filter-radio:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #4c4c4c
}

.list, .list__spinner {
    position: relative
}

.page-header {
    padding-top: 29px;
    font-size: .875em;
    color: grey
}

.page-header .ic {
    font-weight: 400
}

.header__title {
    float: left;
    margin: 0;
    line-height: inherit;
    color: #262626;
    font-weight: 600;
    font-size: inherit
}

.header__title:only-child {
    float: none
}

.header__clear {
    float: right;
    font-weight: 600
}

.header__clear-icon {
    top: 1px;
    margin-right: .3076923077em;
    font-size: .9285714286em
}

.header__switches {
    width: 100%;
    padding-top: 1em;
    clear: both;
    line-height: 2em
}

.header__switches[ng-cloak] {
    display: block !important;
    visibility: hidden !important
}

.header__switch {
    min-width: 120px;
    font-weight: 300
}

.header__switch .module-header-dd {
    z-index: auto
}

.header__dropdown {
    font-weight: 600;
    text-align: left;
    display: inline-block
}
.slots-wrapper {
    z-index: 1;
    position: relative;
}
.slots-wrapper .header__dropdown {
    color: inherit;
}
.slots-wrapper > .css-data-holder:before {
    content: '{ "smallSpotsLimit" : 4 }'
}

.header__switch-icon {
    vertical-align: 1px;
    margin-left: .8em;
    font-size: .6428571429em
}

.module-header-dd__items {
    left: auto;
    right: -9px;
    top: 100%;
    margin-top: 6px
}

.list--rows {
    background: #e1e1e1;
    color: #212121
}

.list--rows .product-row-wrapper {
    float: none;
    width: auto;
    padding: 0
}

.slots-filters + .list--rows {
    margin-top: 20px
}

.product-row__rating {
    color: #aeaeae
}

.list__pagination {
    margin: 40px auto;
    color: grey;
    font-size: 13px
}

.list__pagination .pagin__next, .list__pagination .pagin__prev {
    font-size: 15px
}

.list__spinner {
    display: block;
    opacity: .25
}

.list__spinner-in {
    position: absolute;
    left: 50%;
    top: 50%
}

.list__message, .list__spinner {
    padding: 4em 0;
    min-height: 1.5em;
    text-align: center
}

@media (min-height: 900px) {
    .list__message, .list__spinner {
        min-height: 13.33em;
    }
}

@media (min-height: 1080px) {
    .list__message, .list__spinner {
        min-height: 13.33em;
    }
}

@media (min-height: 1200px) {
    .list__message, .list__spinner {
        min-height: 25.33em;
    }
}

@media (min-width: 2560px) {
    .list__message, .list__spinner {
        min-height: 33em;
    }
}

.list--rows .product-row__date, .list--rows .product-row__genre, .list--rows .product-row__genre:before, .list--rows .product-row__os, .list--rows .product-row__rating {
    display: none
}

.list--rows .product-row:first-child {
    border-top-width: 1px
}

.list--rows .product-row-wrapper:first-child > .product-row {
    border-top: 0
}

.list--rows .product-row__picture {
    float: left;
    position: relative;
    width: 70px;
    height: 40px;
    overflow: hidden
}

.list--rows .product-row__picture .product-row__img {
    position: absolute;
    left: -4px;
    max-width: none;
    width: auto;
    height: 100%
}

.list--rows .product-row__discount {
    min-width: 50px
}

@media (min-width: 28.125em) {
    .list--rows .product-row__picture {
        width: 100px;
        height: 60px
    }
}

@media (min-width: 40em) {
    .list--rows .product-row__genre:before {
        display: inline
    }

    .list--rows .product-row__date {
        display: inline-block
    }
}

@media (min-width: 28.125em) and (max-width: 31.25em) {
    .list--rows .product-row__content {
        line-height: 0
    }

    .list--rows .product-row__content:before {
        content: '';
        display: inline-block;
        height: 45px
    }

    .list--rows .product-row__content-in {
        vertical-align: baseline;
        line-height: 16px
    }
}

@media (min-width: 28.125em) {
    .list--rows .product-row__os {
        display: inline-block;
        width: 60px
    }
}

@media (min-width: 31.25em) {
    .list--rows .product-row__rating {
        display: inline-block;
        margin-right: 20px
    }
}

@media (min-width: 28.125em) and (max-width: 40em),(min-width: 53.125em) {
    .list--rows .product-row__genre {
        display: inline
    }
}

@media (min-width: 40.0625em) {
    .list--rows .product-row__title {
        margin-top: 19px;
        height: auto
    }

    .list--rows .product-row__discount {
        height: 100%;
        padding: 0 0 0 5px;
        text-align: right
    }

    .list--rows .product-row__text {
        padding-right: 160px
    }

    .list--rows .product-row__content {
        display: block;
        padding-right: 10px;
        color: #595959
    }

    .list--rows .product-row__content-in {
        height: 60px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 100%
    }

    .list--rows .product-row__rating {
        min-width: 80px
    }

    .list--rows .product-row__info {
        position: absolute;
        left: 100%;
        top: 0;
        width: 170px;
        padding: 0;
        overflow: hidden
    }

    .list--rows .product-row__info.product-row__alignment:before {
        height: 34px
    }

    .list--rows .product-row__date, .list--rows .product-row__genre:before {
        display: none
    }
}

@media (min-width: 53.125em) {
    .list--rows .product-row__text {
        padding-right: 260px;
        white-space: nowrap
    }

    .list--rows .product-row__info {
        width: 260px
    }

    .list--rows .product-row__os {
        width: 60px
    }
}

@media (min-width: 60em) {
    .list--rows .product-row__text {
        padding-right: 0
    }

    .list--rows .product-row__title {
        display: inline-block;
        vertical-align: top;
        width: 61.5577889447%
    }

    .list--rows .product-row__info {
        position: static;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        width: 38.4422110553%
    }

    .list--rows .product-row__rating {
        width: 40.2298850575%;
        margin: 0
    }

    .list--rows .product-row__os {
        width: 26.0536398467%
    }
}

.list--rows--no-border {
    background: #cfcfcf
}

.list--rows--no-border .product-row {
    background: #e1e1e1
}

.list--rows--no-border .product-row:first-child {
    margin-top: 1px;
    border-top-width: 0
}

.list--grid, .list--rows--no-border .product-row-wrapper:first-child > .product-row {
    margin-top: 0
}

.list--grid {
    margin-bottom: 20px
}

.list--grid > .list-inner {
    margin-left: -20px
}

.list--grid .product-row-wrapper {
    padding-left: 20px;
    width: 100%
}

.list--grid .product-row .product-row__alignment:before {
    height: 12px
}

.list--grid .product-row {
    z-index: 0;
    padding: 0;
    margin-top: 20px;
    height: auto;
    background: #e1e1e1
}

.list--grid .product-row .product-row__discount {
    position: absolute;
    bottom: 10px;
    right: 4.1666666667em;
    margin-right: 15px
}

.lang--de-de .list--grid .product-row .product-row__discount, .prices-in-aud .list--grid .product-row .product-row__discount, .prices-in-brl .list--grid .product-row .product-row__discount, .prices-in-cad .list--grid .product-row .product-row__discount, .prices-in-chf .list--grid .product-row .product-row__discount, .prices-in-cny .list--grid .product-row .product-row__discount, .prices-in-dkk .list--grid .product-row .product-row__discount, .prices-in-nok .list--grid .product-row .product-row__discount, .prices-in-pln .list--grid .product-row .product-row__discount, .prices-in-sek .list--grid .product-row .product-row__discount {
    right: 5em
}

.lang--pt-br .list--grid .product-row .product-row__discount {
    right: 6.1666666667em
}

.list--grid .product-row.is-owned {
    background: #d2d2d2
}

.list--grid .product-row .product-row__picture {
    background: url('../../images/spinner.gif') center center no-repeat;
}

.list--grid .product-row .product-row__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.list--grid .product-row .product-row__text {
    padding-top: 8px;
    padding-right: 10px
}

.list--grid .product-row .product-row__content-in {
    display: block
}

.list--grid .product-row .product-row__title {
    height: 34px;
    line-height: 17px;
    white-space: normal
}

.list--grid .product-row .product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: -o-ellipsis-lastline
}

.list--grid .product-row .product-row__info {
    display: block;
    height: 29px;
    padding-top: 8px
}

.list--grid .product-row .product-row__date, .list--grid .product-row .product-row__genre, .list--grid .product-row .product-row__rating {
    display: none
}

@media (max-width: 25em) {
    .list--grid .product-row .product-row__os {
        position: absolute;
        opacity: 0;
        display: none
    }
}

@media (min-width: 28.125em) {
    .list--grid .product-row .product-row__discount {
        right: 4.3846153846em;
        margin-right: 15px
    }

    .prices-in-aud .list--grid .product-row .product-row__discount, .prices-in-cad .list--grid .product-row .product-row__discount, .prices-in-chf .list--grid .product-row .product-row__discount, .prices-in-cny .list--grid .product-row .product-row__discount {
        right: 4.7692307692em
    }

    .lang--de-de .list--grid .product-row .product-row__discount, .prices-in-brl .list--grid .product-row .product-row__discount, .prices-in-dkk .list--grid .product-row .product-row__discount, .prices-in-nok .list--grid .product-row .product-row__discount, .prices-in-pln .list--grid .product-row .product-row__discount, .prices-in-sek .list--grid .product-row .product-row__discount {
        right: 5.0769230769em
    }

    .lang--pt-br .list--grid .product-row .product-row__discount {
        right: 5.6923076923em
    }
}

@media (min-width: 20em) {
    .list--grid .product-row-wrapper {
        width: 50%
    }
}

@media (min-width: 39.375em) {
    .list--grid .product-row-wrapper {
        width: 33.333333%
    }

    .list--grid .product-row, .list--grid.product-row {
        margin-top: 40px
    }
}

@media (min-width: 53.75em) {
    .list--grid .product-row-wrapper {
        width: 25%
    }
}

@media (min-width: 67.1875em) {
    .list--grid .product-row-wrapper {
        width: 20%
    }
}

@media (min-width: 30em) {
    .header__switch {
        float: left;
        margin-left: 0
    }

    .header__switch ~ .header__switch:last-child {
        float: right
    }
}

@media (min-width: 44.375em) {
    .header__clear {
        float: left;
        margin-left: 20px
    }

    .slots-wrapper .header__switches {
        width: auto;
        padding-top: 0;
        clear: none;
        line-height: inherit
    }

    .header__switch {
        float: right;
        margin-left: 40px;
        text-align: right
    }

    .header__switch--close {
        margin-left: 5px
    }
}

.module--filters {
    z-index: 1;
    min-height: 56px;
    font-size: .8125em;
    color: grey;
    font-weight: 600
}

.filters__search {
    float: left;
    width: 163px;
    height: 24px;
    margin: 15px 10px;
    border: 1px solid #cfcfcf;
    line-height: 24px;
    font-weight: 600;
    border-radius: 13px;
    background: #e6e6e6
}

.filters__search > ._search__input {
    color: grey
}

.filters__search-container {
    position: absolute
}

.filters__search-popover {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%
}

.filters__search-popover.is-expanded {
    display: block
}

.filters__search-popover > .filter__pointer {
    position: absolute;
    top: -10px;
    left: 12px
}

.filters__search-popover:after, .filters__search-popover:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.filters__search-popover:before {
    top: 2px;
    z-index: -1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .15)
}

.filters__search-popover:after {
    top: 1px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 -1px 0 rgba(0, 0, 0, .06)
}

.filters__search-explained {
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 300;
    word-wrap: break-word;
    background: #d0d0d0;
    color: #8c8c8c
}

.filter, .filter__dropdown-toggle {
    padding: 0 10px;
    text-transform: uppercase
}

.filter__dropdown-toggle {
    float: right;
    border-left: 1px solid rgba(0, 0, 0, .08);
    line-height: 56px
}

.filter__dropdown-toggle > .ic {
    min-width: 14px;
    margin-left: .7272727273em;
    position: relative;
    top: 1px;
    text-align: center
}

.filters__dropdowns {
    clear: both;
    display: none
}

.filters__dropdowns.is-filter-expanded {
    display: block
}

.filter {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #cfcfcf;
    border-width: 1px 0 0;
    line-height: 44px
}

.filter ._price:after, .filter ._price:before {
    text-transform: uppercase
}

.filter > .ic {
    float: right;
    height: 44px;
    position: relative;
    top: 1px;
    line-height: inherit
}

.filter > .filter__pointer {
    position: absolute;
    bottom: -1px;
    right: 6px
}

.filter.is-selected {
    color: #262626
}

.filter.is-selected > .ic {
    font-size: 1.0769230769em
}

.filter.is-contracted:hover {
    background: #e5e5e5
}

.filter__items {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 50%
}

.is-expanded .filter-page {
    min-height: 450px
}

.is-expanded .filter-page > :last-child:not(:nth-child(10)) {
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.filter-checkbox, .filter-radio {
    margin-right: .6923076923em
}

.filter__item {
    color: grey
}

.filter__item--sub {
    padding-left: 24px
}

.filter__item.is-selected, .filter__item.is-selected--mixed {
    color: #262626
}

.filter__items-pagination {
    padding: 9px 0;
    line-height: 26px;
    text-align: center;
    cursor: default
}

@media (min-width: 68.75em) {
    .filters__dropdowns {
        position: relative;
        z-index: 1;
        padding: 0;
        margin-left: 185px;
        background: #e1e1e1
    }

    .filter {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        height: 56px;
        width: 14.2857142857%;
        border-width: 0 0 0 1px;
        line-height: 56px;
        background: #e1e1e1
    }

    .filter:last-child > .filter__items {
        left: auto;
        right: 0
    }

    .lang--ru-ru .filter {
        width: 14.0833333333%
    }

    .lang--ru-ru .filter--feature {
        width: 15.5%
    }

    .filter__items {
        right: auto;
        left: 0;
        top: 100%;
        z-index: -1;
        width: 210px
    }

    .lang--de-de .filter__items {
        width: 240px
    }

    .lang--fr-fr .filter__items {
        width: 260px
    }

    .lang--ru-ru .filter__items {
        width: 230px
    }

    .filter__item:first-child {
        border-top-width: 1px
    }
}

@media (max-width: 68.6875em) {
    .filter.is-expanded > .filter__pointer, .filter.is-expanded ~ .filter > .ic, .hide-on-compact-filters {
        display: none
    }

    .filter > .ic {
        min-width: 14px;
        text-align: center
    }

    .filters__search-popover {
        width: auto
    }
}

@media (min-width: 31.3125em) and (max-width: 68.6875em) {
    .filters__search-explained {
        white-space: nowrap
    }
}

@media (min-width: 68.75em) {
    .hide-on-big-filters {
        display: none
    }

    .filters__dropdowns {
        display: block
    }
}

@media (max-width: 31.25em) {
    .filters__search-container {
        position: initial
    }

    .filters__search-popover {
        left: 0;
        right: 0
    }
}